.bold {
  font-weight: bold;
}

.main {
  width: calc(100% - 344px);
  float: left;
}

.widgetbar {
  width: 344px;
  float: left;
}

.files, .widgetside {
  display: block;
  float: left;
  width: 100%;
}

.search .input-control.text {
  width: 100%;
  display: block;
}

/*.main .panel {
  float: left;
  width: calc(50% - (.625rem * 2));
} */

.panel .list-subtitle {
  white-space: inherit !important;
}

.panel .input-control.textarea, .panel div.button {
    width: 100%;
    float: left;
    display: block;
}

.panel .list_meta {
  width: 80px;
  float: left;
  height: auto;
  display: block;
}

.panel .list_info {
  float: right;
  display: block;
  height: auto;
  width: calc(100% - 100px);
}

.panel .listview-outlook .list {
  float: left;
}

.list_info .button {
  font-weight: 400;
  line-height: 1.2;
  font-size: .625rem;
  color: #999;
}

#issuemelden {
  float: left;
}

.panel>.content {
  z-index: inherit;
}

div.roles {
  float: left;
  display: block;
  width: 100%;
}

.list_meta span.list-remark {
  text-align: center;
}

.item_tile .list-title {
  font-size: 1rem;
}

.item_tile {
  width: 50%;
  float: left;
  display: block;
  margin: 5px 0px;
}

.item_tile img {
  float: left;
  margin-right: 5px;
}

.item_tile span {
  display: block;
  float: left;
}

.issue_item .heading {
}

.issue_item .heading h3 {
  display: inline;
}

.issue_item .progressbar {
  margin: 35px 0px;
}
